---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ include "build-pipeline.fullname" . }}
  labels:
    app.kubernetes.io/managed-by: EventListener
    app.kubernetes.io/part-of: Triggers
    {{- include "build-pipeline.labels" . | nindent 4 }}
spec:
  to:
    kind: Service
    name: {{ include "build-pipeline.fullname" . }}
    weight: 100
  port:
    targetPort: http-listener
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
    destinationCACertificate: ''